.hide {
  display: none;
}
.wrap_skin {
  position: relative;
  min-width: 884px;
  min-height: 100%;
  /* padding-left: 23%; */
  padding-left: 350px;
  transition: padding-left ease-in-out 0.2s;
}
.wrap_skin.navi_on {
  /* padding-left: 960px; */
  padding-left: 640px;
}

.navi_on .wrap_sub {
  /* width: 960px; */
  width: 640px;
}

.area_head {
  position: fixed;
  left: 0;
  top: 0;
  width: 23%;
  margin-top: 171px;
  min-width: 320px;
  z-index: 1000;
}
.cont_sub {
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.35);
  background: rgba(34, 34, 34, 0.5);
}
.cont_sub .inner_sub {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap_sub {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 23%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: 60% 0;
  background-size: cover;
  transition: width ease-in-out 0.2s;
  background-image: url({{ asset('/img/karma_kurry_book_cover.jpg') }});
  /* background-image: url(https://tistory4.daumcdn.net/tistory/2800689/skin/images/IMG_0663.JPG); */
}

.navi_on .cont_sub {
  background-image: url(https://tistory4.daumcdn.net/tistory/2800689/skin/images/bg_side.png);
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: initial;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.cont_sub .area_sub {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 83px;
  bottom: 80px;
  left: 0;
  right: 0;
  padding-top: 15px;
}
.area_sub::-webkit-scrollbar {
  width: 5px;
}

.area_sub::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 122, 127, 0.5);
}

.area_sub::-webkit-scrollbar-thumb {
  background-color: #ff7a7f;
}
.area_navi {
  display: none;
  float: left;
  width: 318px;
}
.navi_on .area_navi {
  display: block;
}

.area_navi .tt_category {
  padding: 0 40px;
}
.tt_category li {
  list-style: none;
}
.tt_category .link_tit {
  display: block;
  padding-bottom: 8px;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

.tt_category .category_list .link_item {
  display: block;
  padding: 7px 0 8px;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navi_on .wrap_etc {
  display: block;
}

.wrap_etc {
  display: none;
  float: left;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.wrap_etc .col_aside {
  float: left;
  width: 249px;
  padding: 0 36px;
}

.box_aside {
  position: relative;
  margin-bottom: 39px;
}

.tit_aside {
  display: block;
  margin-bottom: 7px;
  color: #ff7a7f;
}
.list_board li {
  padding: 3px 0;
}
.list_board .link_board {
  display: block;
  overflow: hidden;
  font-size: 12px;
  line-height: 19px;
  color: #a7a7a7;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrap_etc .right_side {
  padding-right: 0;
}

.wrap_etc .tt-calendar {
  border-collapse: collapse;
  border-spacing: 0;
  width: 270px !important;
  margin: 0 0 0 -11px;
}

.wrap_etc .tt-calendar .cal_month {
  height: 20px;
  text-align: center;
  margin-bottom: 9px;
  padding-bottom: 1.75rem;
}
.wrap_etc .tt-calendar .cal_month a:first-child {
  background-position: -130px 0;
}
.wrap_etc .tt-calendar .cal_month a:first-child,
.wrap_etc .tt-calendar .cal_month a:last-child {
  /* display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0; */
  /* background: url(images/ico_skin.png) 0 0 no-repeat; */
  text-indent: -9999px;
  margin: 6px 10px 0;
  vertical-align: top;
  width: 5px;
  height: 8px;
}
.wrap_etc .tt-calendar .cal_month a {
  color: #ff7a7f;
}

.wrap_etc .tt-calendar thead th {
  width: 14.28%;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #5c5c5c;
}
.wrap_etc .tt-calendar tbody td {
  font-size: 13px;
  text-align: center;
  color: #a7a7a7;
}

.wrap_etc .tt-calendar td {
  height: 26px;
  vertical-align: middle;
}
caption {
  caption-side: top;
}

/* profile section */
.navi_on .area_head .area_profile {
  display: none;
}
.navi_on .btn_search {
  margin-top: 11px;
}

.area_search .btn_search {
  display: block;
  position: relative;
  width: 23px;
  height: 23px;
  margin-top: 12px;
}

.search_on .btn_search {
  display: none;
}

.navi_on .area_search {
  /* left: 856px; */
  left: 543px;
  top: -151px;
}
.search_on .area_search {
  left: 50%;
  width: 100%;
  margin-left: -150px;
}
.navi_on.search_on .area_search {
  /* left: 856px; */
  left: 350px;
  /* top: -151px; */
  margin-left: 0px;
  width: 240px;
}
.area_search .frm_search {
  display: none;
  position: relative;
  /* width: 243px; */
  /* height: 22px; */
  padding: 11px 0 11px 57px;
  background-position: 0 -50px;
  margin-top: 6px;
}
.navi_on.search_on .frm_search {
  margin-top: 0px;
  background-position: 0 -100px;
}
.search_on .frm_search {
  display: block;
}
.frm_search .tf_search {
  width: 182px;
  border: 0 none;
  color: #fff;
  background: transparent;
}
input[type="text"].tf_search::-webkit-input-placeholder {
  color: white;
}
.frm_search .tf_search:focus {
  outline: none;
}
.area_head .area_profile .link_post {
  font-weight: 200;
  font-size: 42px;
  line-height: 50px;
  color: #fff;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.area_head .area_profile .tit_post {
  padding: 0 25px;
}
.area_head .area_profile .link_post:hover {
  text-decoration: none;
}

.area_head .area_profile .thumb_profile {
  display: block;
  width: 51px;
  height: 51px;
  margin: 44px auto 6px;
  border-radius: 51px;
}
.area_head .area_profile {
  display: block;
  text-align: center;
}
.area_head .area_profile .img_profile {
  display: block;
  border-radius: 51px;
  width: 100%;
  height: 100%;
}
.area_head .area_profile .txt_profile {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  filter: alpha(Opacity=70);
  display: block;
  padding: 0 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.area_head .btn_cate {
  position: absolute;
  left: 35px;
  top: -141px;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}
.search_on .area_head .btn_cate {
  display: none;
}
.navi_on .area_head .btn_cate {
  display: none;
}
.area_search {
  position: absolute;
  right: 34px;
  top: -154px;
  z-index: 10;
}
.box_search {
  background-image: url(https://tistory4.daumcdn.net/tistory/2800689/skin/images/box_search.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: initial;

  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.list_keep li,
.list_keep li a {
  padding: 3px 0;
  font-size: 12px;
  color: #a7a7a7;
}

/* Bottom Icons */
.list_control {
  position: absolute;
  left: 50%;
  bottom: 19px;
  width: 316px;
  height: 42px;
  margin-left: -158px;
  z-index: 101;
  padding-left: 0px;
}
.navi_on .list_control {
  left: 1px;
  margin-left: 0;
  opacity: 0.5;
}
.list_control li {
  float: left;
}
.list_control li a {
  display: block;
  width: 48px;
  height: 40px;
  margin: 0 15px 0 16px;
  color: white;
  font-size: 22px;
  text-align: center;
}

/* close Button */
.navi_on .wrap_sub .btn_close {
  display: block;
}
.wrap_sub .btn_close {
  display: none;
  position: absolute;
  right: 30px;
  top: 31px;
  width: 22px;
  height: 22px;
  background-position: -70px 0;
}
button:focus {
  outline: none;
}
button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
}

/* MAIN CONTENT CSS */
.article_skin {
  /* width: 850px; */
  width: 1000px;
  min-height: 858px;
  margin: 0 auto;
  /* padding: 55px 42px 55px; */
  padding: 30px 42px 20px;
}

.read-time-wrap {
  line-height: 20px;
  color: #9199a4;
}
.middotDivider {
  padding: 0px 5px;
}
.middotDivider:after {
  content: "\00B7";
}
.icon-info {
  line-height: 15px;
  color: #9199a4;
}
.icon-info:not(:first-child) {
  margin-left: 10px;
}
.icon {
  margin: 1px 3px 0 0;
}
.post_para_content {
  margin-top: 20px;
}
.post_para_content p {
  text-align: justify;
  line-height: 28px;
  font-size: 19px;
}

/* @media only screen and (max-width: 738px) {
  .navi_on .wrap_etc {
    display: none;
  }
  .wrap_skin.navi_on {
    padding-left: 0;
  }
  .wrap_skin {
    min-width: 100%;
  }
  .navi_on .area_head {
    height: 72px;
    position: fixed;
    right: 58px;
    width: auto;
    margin-top: 0px;
  }
  .navi_on .area_search {
    display: none;
  }
  .area_search {
    right: 0;
    top: 0;
  }
  .navi_on .area_head .area_profile {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 72px;
    text-align: left;
  }
  .navi_on .area_head .area_profile .link_post {
    padding-left: 73px;
    font-size: 14px;
    font-weight: normal;
    -webkit-line-clamp: 1;
  }
  .navi_on .area_head .area_profile .thumb_profile {
    position: absolute;
    left: 20px;
    top: 15px;
    width: 43px;
    height: 43px;
    margin: 0;
  }
  .navi_on .area_head .area_profile .tit_post {
    height: 30px;
    padding: 3px 0 0;
    text-align: left;
  }
  .navi_on .area_head .area_profile .txt_profile {
    display: inline-block;
    margin-top: 5px;
    padding-left: 73px;
    font-size: 13px;
    color: #a7a7a7;
  }
  .area_head .btn_cate {
    left: 0;
    top: 0;
    width: 49px;
    height: 45px;
  }
  .navi_on .wrap_sub {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
  }
  .navi_on .cont_sub {
    background: #222;
    opacity: 0.9;
    filter: alpha(Opacity=90);
    position: fixed;
  }
  .cont_sub .inner_sub {
    padding: 0;
  }

  .navi_on .article_skin {
    display: none;
  }
  .article_skin {
    width: 100%;
    min-height: 100%;
    padding: 45px 0 0 0;
  }
  #tt-body-page .article_skin {
    margin-top: 40px;
  }
} */

/* calendar css */
.bootstrap-datetimepicker-widget table th {
  height: 20px;
  /* line-height: 20px; */
  width: 20px;
  color: #5c5c5c;
  width: 14.28%;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #5c5c5c;
}
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
  color: #ff7a7f;
  font-size: 17px;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  color: #ff7a7f;
  background-color: transparent;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table td.disabled {
  background: none;
  font-size: 13px;
  text-align: center;
  color: #a7a7a7;
  /* cursor: not-allowed; */
}
.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  /* clip: rect(0, 0, 0, 0); */
  border: 0;
  content: "<<";
}
.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  /* clip: rect(0, 0, 0, 0); */
  border: 0;
  content: ">>" !important;
}
